In [1]:
# 1 .Get the input for 2 variables though “input” function and pass them to a function to return the addition of two variable

In [1]:
def addition(a,b):
    return a+b
a, b = list(map(int, input().split()))
print(addition(a,b))

2 5
7

In [5]:
# 2. What happens if we try to add an int with str and vice versa. Please print out the error

In [7]:
# 3. Write a function and pass a number list as an argument to the function. And return True if the first and last number of a given list is same. 
#If numbers are different then return False
def check_equality(num_list):
    if num_list[0] == num_list[-1]:
        return True
    else:
        return False
num_list = list(map(int, input().split()))
print(check_equality(num_list))

4 6 7 8 8 4
True

In [8]:
# 4. Iterate the given list of numbers (l1) and print only those numbers which are divisible by 5. (l1 = [10, 20, 33, 46, 55])
l1 = [10, 20, 33, 46, 55]
[print(num) for num in l1 if num%5 == 0]

10
20
55

[None, None, None]

In [10]:
# 5. Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

# a. Hint: Separate return values with a comma
def calculation(a,b):
    return a+b, a-b
a, b = list(map(int, input().split()))
print(calculation(a,b))

6 -12
(-6, 18)

In [11]:
# Write a program to demonstrate the following Syntax error

#a. SyntaxError: non-default argument follows default argument
def syntax_error_demo(non_default_arg="value 1", default_arg):
    print("Right way to use is => def syntax_error_demo(default_arg, non_default_arg=1):")

SyntaxError: non-default argument follows default argument (2210676793.py, line 4)

In [13]:
# 7. Use filter and lambda function to calculate square for below numbers only if they are odd number

# a. [12, 11, 53, 22, 21, 77, 87, 88, 98]

l2 = [12, 11, 53, 22, 21, 77, 87, 88, 98]
odd_list = list(filter(lambda x: (x%2 != 0), l2))
print(odd_list)
[print(odd_num**2) for odd_num in odd_list]

[11, 53, 21, 77, 87]
121
2809
441
5929
7569

[None, None, None, None, None]

In [14]:
# 8.Write a function (not a lambda function) and use it to demonstrate an example for map function
#(any logical function of your choice)

def concatenation(str):
    return str+" -> concatenation using map function"
string_list = ["string1", "string2", "string3"]
print(list(map(concatenation, string_list)))

['string1 -> concatenation using map function', 'string2 -> concatenation using map function', 'string3 -> concatenation using map function']

In [15]:
# 9. Write 3 examples on possible methods to changing a tuple
# Method 1
tuple_1 = ("qwerty", "asdf", "zxcvb")
tuple_list = list(tuple_1)
tuple_list[2] = "changed value using index in list"
tuple_1 = tuple(tuple_list)
print(tuple_1)

# Method 2
tuple_list.remove('qwerty')
tuple_list.append("changed value using remove and add in tuple")
tuple_2 = tuple(tuple_list)
print(tuple_2)

# Method 3
tuple_3 = ("qwerty", "asdf", "zxcvb")
tuple_set = set(tuple_3)
tuple_set.remove('qwerty')
tuple_set.add("changed value using remove and add in tuple")
tuple_3 = tuple(tuple_set)
print(tuple_3)

('qwerty', 'asdf', 'changed value using index in list')
('asdf', 'changed value using index in list', 'changed value using remove and add in tuple')
('zxcvb', 'changed value using remove and add in tuple', 'asdf')

In [16]:
# 10.Create the string, int and float variable and delete them all in the next cell
string_val = "String"
int_val = 123
float_val = 456.789

In [17]:
del string_val
del int_val
del float_val

In [18]:
print(string_val, int_val, float_val)

NameError: name 'string_val' is not defined

In [19]:
# 11. Create a string variable for the word “Data Science” and see if the letter “s” is present in it using membership operators
string = "Data Science"
print('s' in string)

False

In [20]:
# 12.What’s the result of assigning a value to a ‘keyword’?

#a. Please highlight the error

import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [21]:
# 13. How to write a multi-line statement and assign it to a variable 
#(Note: Without using a backslash “\” at the end of each line)
multi_line_statement_1 = [1, 2, 3, 4,
                         5, 6, 7, 8, 9]
multi_line_statement_2 = {1, 2, 3, 4,
                         5, 6, 7, 8, 9}
multi_line_statement_3 = (1, 2, 3, 4, 5, 
                         6, 7, 8, 9)

In [22]:
# 14. . Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers
[print(num, end=" ") for num in range(100, 1000, 8)]

100 108 116 124 132 140 148 156 164 172 180 188 196 204 212 220 228 236 244 252 260 268 276 284 292 300 308 316 324 332 340 348 356 364 372 380 388 396 404 412 420 428 436 444 452 460 468 476 484 492 500 508 516 524 532 540 548 556 564 572 580 588 596 604 612 620 628 636 644 652 660 668 676 684 692 700 708 716 724 732 740 748 756 764 772 780 788 796 804 812 820 828 836 844 852 860 868 876 884 892 900 908 916 924 932 940 948 956 964 972 980 988 996

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [23]:
# 15. Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’
n = 10
for i in range(n):
    if i != n/2:
        print(i)
    else:
        break

0
1
2
3
4

In [24]:
# 16.Write a simple function and call the docstring from outside the function
def docstring_function():
    """Says about what the function does"""
    return None
print(docstring_function.__doc__, end="\n\n")
help(docstring_function)

Says about what the function does

Help on function docstring_function in module __main__:

docstring_function()
    Says about what the function does

In [25]:
# 17. Write a list comprehension to print the odd numbers from 0 to 100

[print(num, end=' ') for num in range(100) if num % 2 != 0]

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [28]:
# 18. Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)

# a. Ex: name = Imran

# Output = [‘m’, ‘r’, ‘n’]
name = "Hema Chandrao B"
name = name.lower().replace(' ', '')
vowels = "aeiou"
[print(c) for c in name if c not in vowels]

h
m
c
h
n
d
r
b

[None, None, None, None, None, None, None, None]

In [29]:
# 19. What’s recursion? 
#Explain in your own words and write a program to create a recursive function to calculate the sum of numbers from 0 to 10
def recursion_sum(n):
    if n <= 1:
        return n
    return recursion_sum(n-1)+n

n = 10
print(recursion_sum(n))

55